body {
    background: #BFFF0D;
    font-family:Arial, Helvetica, sans-serif;
}
h1,
h2,
h3 {
    color: white;
}
a:visited {
    color: white;
  }
a {
    color: white;
  }
.container {
    display: flex;
    justify-content: center;
  }
.fullwidth{
    background: #3D32FA;
    color: white;
    text-indent: 25px;
    font-size: large;
    height: 100px;
    margin: 5px;
    padding: 25px
}
#col1 {
    background: #3D32FA;
    color: white;
    text-indent: 25px;
    font-size: large;
    flex-basis: 400px;
    height: 100px;
    margin: 5px;
    text-align: center;
    padding: 25px
}
#col2 { 
    background: #3D32FA;
    color: white;
    text-indent: 25px;
    font-size: large;
    flex-basis: 400px;
    height: 100px;
    margin: 5px;
    text-align: center;
    padding: 25px
}
#col3 { 
    background: #3D32FA;
    color: white;
    text-indent: 25px;
    font-size: large;
    flex-basis: 400px;
    height: 100px;
    margin: 5px;
    text-align: center;
    padding: 25px
}
#full { 
    background: #F55018;
    margin: 5px;
    text-align: center;
    padding: 25px
}
#full2 { 
    background: #F55018;
    margin: 5px;
    text-align: center;
    padding: 25px
}