body {
    background: #dedede;
  } 
.container {
    display: flex;
  }
#col1 {
    background: #ce8888;
    flex-basis: 300px;
    height: 100px;
    margin: 5px;
    text-align: center;
    padding: 25px
}
#col2 { 
    background: #ce8888;
    flex-basis: 300px;
    height: 100px;
    margin: 5px;
    text-align: center;
    padding: 25px
}
#col3 { 
    background: #ce8888;
    flex-basis: 300px;
    height: 100px;
    margin: 5px;
    text-align: center;
    padding: 25px
}
